# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
php-fpm_exporter

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# dependencies
vendor/

# IDEs
.idea/

# goreleaser
dist/
